* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    top: 0;
}

#welcome-section {
    height: 100vh;
}

@media (max-width: 640px) {

}

@media (max-width: 1048px) {

}