:root {
    --color-text: #94a3b8;
    --color-highlight: #5eead4;
    --color-background: #0f172a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 200ms;
}

html {
    scroll-behavior: smooth;
    font-size: 1.5rem;
}

body {
    background: var(--color-background);
    color: var(--color-text);
}

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    z-index: 5;
    background-color: var(--color-background);
    border-bottom: 2px solid var(--color-highlight);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-highlight);
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#welcome-section h1 {
    font-size: 3rem;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}

#projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;
    border: 1px solid var(--color-highlight);
    padding: 1rem;
}

.project-title {
    text-align: center;
}
.anchor-icon {
    padding-left: 0.5rem;
}

.project-title:hover .anchor-icon {
    padding-left: 1rem;
}


#contact-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#contact-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

footer p {
    text-align: center;
}

@media (min-width: 640px) {

    #contact-links {
        flex-direction: row;
    }

    .project-tile {
        width: 600px;
    }

}